.feedback-form {
  max-width: 408px;
  margin: 40px auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.feedback-form label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  outline: none;
}
.feedback-form textarea {
  width: 100%;
  max-height: 80px;
  padding: 10px 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  outline: none;
  resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #808080;
}
.feedback-form button {
  display: block;
  width: 95px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #f7f9fc;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
